#gmap_canvas {
    position: relative;
    height: calc((100vw) / (16/9));
    width: 100%;
}

.contact span {
    display: block;
    text-align: center;
}

.Contact-choises {
    padding: 20px;
}

.Contact-choises img {
    display: inline-block;
    height: 100px;
    margin: 25px;
}

#email-img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* _? For Desktop ----------------------------------------------- */
                /* Large Bound */
                @media only screen and (min-width: 1200px) { 
                    #gmap_canvas {
                        position: relative;
                        height: calc((70vw) / (16/9));
                        width: 100%;
                    }
                }
