:root {
    --give-color: rgb(255, 250, 183);
}


.btn-secondary {
    background-color: var(--give-color) !important;
    border-color: var(--give-color) !important;
    color: var(--black-color) !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;

    -webkit-box-shadow: 0px 12px 34px -7px var(--give-color);
    -moz-box-shadow: 0px 12px 34px -7px var(--give-color);
    box-shadow: 0px 12px 34px -7px var(--give-color);

    
    margin-left: auto;
    margin-right: auto;
}

#sendGiveButton img {
    height: 25px;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* Making the first and last name field go away */
#whenDiezmos {
    display: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

