:root {
    --role-indicator-color: #009ACD;
}
.userList {
    max-width: 1140px;
    overflow-y: auto;
    overflow-x: visible;
}
.user-container {
    position: relative;
    padding: 6px;
    margin-top: 0;
    margin-bottom: 6px;
    height: 76px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: height 200ms ease-in-out, border-bottom 200ms ease-in-out;
    border-radius: .25em;
}
.user-container.active {
    transition: height 200ms ease-in-out, border-bottom 200ms ease-in-out; 
    height: 500px;
    border-bottom: 1px solid var(--role-indicator-color);
}
.user-info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0px;
}
.user-avatar {
    display: inline-block;
    width: 4em;
    height: 4em;
    margin-right: 16px;
    border-radius: 100%;
    background-color: gainsboro;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.user-info p {
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
}
.user-info span {
    position: absolute;
    right: 12px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--role-indicator-color);
    border: 1px solid var(--role-indicator-color);
    border-radius: .25em;
}

/* _? For Desktop ----------------------------------------------- */
                /* Large Bound */
                @media only screen and (min-width: 1200px) { 
                    .userList {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }