/* Importing fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mallanna&display=swap');


:root {
  --main-color: rgba(0,	230,	118, .5);
  --secondary-color: rgba(207, 183,	104, .3);
  --black-color: #303030;
}

html, body {
  /* position: fixed;
  height: 100%;
  overflow: auto; */
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
  background-color: #fafefc !important;
  color: var(--black-color) !important;
}
.website-view {
  /* position: fixed;
  height: 100%; */
  overflow: visible !important;
  padding: 0 !important;
}
#mainWrapper {
  overflow-y: auto;
  height: 100%;
}

/* ---------- MOBILE ----------- */
/* Making fonts smaller for phones */
h1 {
  font-size: 2em !important;
  margin-top: 20px !important;
  font-weight: bold !important;
}
h2 {
  font-size: 1.75em !important;
}
h3 {
  font-size: 1.5em !important;
}
h4 {
  font-size: 1.25em !important;
}
p {
  font-size: 1.15em !important;
  font-family: 'Mallanna', sans-serif;
}

/* The Content div */
.content {
  position: fixed;
  width: 100%;
  height: calc(100% - (50px + 55px));
  overflow-y: hidden;
}
.container {
  margin: 0;
}


/* Navbar for mobile */
#nav-bar-top {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  
}

/* Brand Image */
.Logo img {
  position: relative;
  height: 100%;
}

/* Give Button */
.Give {
  position: relative;
  width: 45px;
  height: 45px;
  float: right;
  padding: 7px;
  margin-top: 3px;
  margin-right: 15px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 5px rgba(176, 156, 88, 0.2), -1px -1px 5px rgba(238, 210, 120, 0.25);
}
/* Give Image */
.Give img {
  width: 31px;
  height: 31px;
  fill: white !important;
}
.Give h4 {
  display: none;
}

/* Account Button */
.Account {
  position: relative;
  width: 45px;
  height: 45px;
  float: right;
  padding: 7px;
  margin-top: 3px;
  background-color: gainsboro;
  border-radius: 100%;
}

/* Navbar at the bottom */
#nav-bar-bottom {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  width: 100vw;
  z-index: 10;
}
.bottom-nav {
  position: relative;
  height: 50px;
  width: 100%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
}
/* Buttons from Bottom-Nav */
.bottom-nav a {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  margin-left: calc((((100vw - 60px) - 225px) / 4) /2 );
  margin-right: calc((((100vw - 60px) - 225px) / 4) /2);
}
.bottom-nav a.active {
  background-color: var(--main-color) !important;
  color: var(--black-color);
  box-shadow: 0px 5px 20px 0px var(--main-color) !important;
  border: none !important;
}
/* Home Button */
.Home {
  margin-left: 0 !important;
}
.Home img {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 2px;
}
/* About Button */
.About img {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 2px;
}
/* Sermons Button */
.Sermons img {
  position: relative;
  width: 27px;
  height: 27px;
  bottom: 2px;
  left: 0px;
}
/* Contact Button */
.Contact {
  float: right;
  margin-right: 0 !important;
}
.Contact img {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: 2px;
}
.Bible img {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 1px;
  left: -3px;
}
.top-nav-items {
  display: none;
}

/* Banner to add to homescreen */
.A2H {
  position: absolute;
  z-index: 10;
  background-color: #fafefc;
  width: 100%;
  padding: 8px;
  text-align: center;
}
.add-to-home-button {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  outline: none;
  border-radius: 8px;
  background-color: var(--main-color) !important;
  color: var(--black-color);
  box-shadow: 0px 5px 10px 0px var(--main-color) !important;
  border: none !important;
}
.close-banner {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
}

/* _? For Desktop ----------------------------------------------- */
                /* Large Bound */
                @media only screen and (min-width: 1200px) {
                  /* Remove the Mobile Nav Bar */
                  #nav-bar-bottom {
                    display: none;
                  }

                  /* Desktop Nav */
                  #nav-bar-top {
                    height: 80px;
                  }
                  /* Desktop Content */
                  .content {
                    height: calc(100vh - (80px));
                  }
                  .Account {
                    height: 65px;
                    width: 65px;
                    margin-top: 7.5px;
                  }
                  .Give {
                    margin-top: 15px;
                    height: 50px;
                    width: 110px;
                    padding: 8px;
                  }
                  .Give img {
                    height: auto;
                    width: 34px;
                    margin-left: 8px;
                  }
                  .Give h4 {
                    display: inline;
                    color: var(--black-color);
                    margin-right: 8px;
                    margin-top: 5px;
                    float: right;
                  }
                  .top-nav-items {
                    display: inline-block;
                    position: relative;
                    float: right;
                    left: 0;
                    height: 61px;
                    margin-top: 9.5px;
                    margin-right: 20px;
                    padding: 8px;
                  }
                  .top-nav-items a {
                    margin-left: 50px;
                    float: none;
                    display: inline-block;
                    height: 45px;
                    width: auto;
                    padding: 10px;
                    border-radius: 8px;
                    transition: background-color ease-in-out 300ms, border-bottom ease-in-out 100ms, box-shadow ease-in-out 100ms;
                    color: var(--main-color);
                    overflow: hidden;
                  }
                  .top-nav-items a h4 {
                    display: inline-block;
                    position: relative;
                    float: right;
                    margin-left: 8px;
                    color: var(--black-color);
                  }
                  .top-nav-items a.active {
                    background-color: var(--main-color) !important;
                    width: auto;
                    color: var(--black-color);
                    content: 'give';
                    box-shadow: 0px 12px 34px -7px var(--main-color) !important;
                    border: none !important;
                  } 
                  .top-nav-items a:hover {
                    border-bottom: solid 3px var(--main-color);
                    -webkit-box-shadow: 0px 12px 24px -7px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 12px 24px -7px rgba(0,0,0,0.75);
                    box-shadow: 0px 12px 24px -7px rgba(0,0,0,0.75);
                    background-color: gainsboro;
                    width: auto;
                  }
                  .top-nav-items a h4:hover {
                    opacity: 1;
                  }


                }
                /*--- Large Bound End ---*/


                /* Medium Bound */
                @media only screen and (min-width: 700px) {
                    /* Remove the Mobile Nav Bar */
                  #nav-bar-bottom {
                    display: none;
                  }

                  /* Desktop Nav */
                  #nav-bar-top {
                    height: 80px;
                  }
                  /* Desktop Content */
                  .content {
                    height: calc(100vh - (80px));
                  }
                }